*.egg-info
__pycache__
.venv*
venv*
dist
build
docs/build/

.ipynb_checkpoints/
.coverage

results
evaluation_runs
*.tar.gz
data

examples/smollm_example/runs
examples/smollm_example/catalog.local*.yaml
